.App {
  text-align: center;
}

#minContent {
  height: 2560px;
  margin-left: -40px;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
